################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/roshanhijrat.client/obj/Debug
/RoshanHijrat.Server/bin/Debug/net8.0
/.cr/personal/FavoritesList
/RoshanHijrat.Server/obj/Debug/net8.0
